/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}

.link{
  cursor: pointer;
}
.main{
  height: 95vh;
  overflow:auto;
}


.app-container{
  height: 80vh;
}
